# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
output.mp4
draw_lines.mp4
MVI_6975.MP4
MVI_6976.MP4
MVI_6977.MP4
MVI_6978.MP4
MVI_6979.MP4
MVI_6980.MP4
MVI_6981.MP4
MVI_6982.MP4
MVI_6983.MP4
MVI_6984.MP4
MVI_6985.MP4
MVI_6986.MP4
MVI_6987.MP4
MVI_6988.MP4
MVI_6989.MP4
MVI_6991.MP4
MVI_6992.MP4
MVI_6993.MP4
MVI_6994.MP4
MVI_6995.MP4
MVI_6996.MP4
MVI_6997.MP4
MVI_6998.MP4
MVI_6999.MP4
MVI_7000.MP4
MVI_7001.MP4
MVI_7002.MP4
MVI_7003.MP4
MVI_7004.MP4
MVI_7005.MP4
MVI_7006.MP4
MVI_7007.MP4
MVI_7008.MP4
MVI_7009.MP4
MVI_7010.MP4
MVI_7011.MP4
MVI_7045.MP4
MVI_7046.MP4
MVI_7047.MP4
MVI_7048.MP4
MVI_7049.MP4
MVI_7050.MP4
MVI_7051.MP4
MVI_7052.MP4
MVI_7053.MP4
MVI_7054.MP4
MVI_7056.MP4
MVI_7057.MP4
MVI_7059.MP4
MVI_7060.MP4
MVI_7061.MP4
MVI_7062.MP4
MVI_7063.MP4
MVI_7064.MP4
MVI_7065.MP4
MVI_7066.MP4
MVI_7067.MP4
MVI_7068.MP4
MVI_7069.MP4
MVI_7070.MP4
MVI_7071.MP4
MVI_7072.MP4
MVI_7073.MP4
MVI_7074.MP4
MVI_7075.MP4
MVI_7076.MP4
MVI_7077.MP4
MVI_7078.MP4
MVI_7079.MP4
MVI_7080.MP4
MVI_7081.MP4
MVI_7082.MP4
MVI_7083.MP4
MVI_7084.MP4
MVI_7085.MP4
MVI_7086.MP4
MVI_7087.MP4
MVI_7088.MP4
MVI_7089.MP4
MVI_7090.MP4
MVI_7091.MP4
MVI_7092.MP4
MVI_7093.MP4
MVI_7094.MP4
MVI_7095.MP4
MVI_7096.MP4
MVI_7097.MP4
MVI_7098.MP4
MVI_7099.MP4
MVI_7100.MP4
MVI_7101.MP4
MVI_7102.MP4
MVI_7103.MP4
MVI_7104.MP4
MVI_7105.MP4
MVI_7106.MP4
MVI_7107.MP4
MVI_7108.MP4
MVI_7109.MP4
MVI_7110.MP4
MVI_7111.MP4
MVI_7112.MP4
MVI_7113.MP4
MVI_7115.MP4
